<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/china-index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/china-app.css" />

		<title>提示</title>
	</head>
	<body ontouchstart="">
		<div class="wrap order-false" style="margin-top: 50%;">
			<div class="content ta-c">
				<img src="../../images/i-unfound.png" style="width:190px !important;height:130px;"/>
				<p class="c-333 un-visit" style="padding:20px 0;">未授权访问</p>
				<div class="m-mod m-mod1" style="background-color:#f2f2f2;">
					<div class="youcan c-999" style="line-height:20px;font-size:14px;">
						请先通过微信登录再访问此商城
					</div>
				</div>
		    </div>
		</div>
	</body>
</html>
