<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的钱包</title>
    <link href="../../css/mui3.5.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
</head>

<body style="background-color: #FFFFFF;">
    <header class="mui-bar mui-bar-nav ps-f ui-border-b">
        <a class="mui-action-back iconfont icon-jiantou1 mui-pull-left header-back"></a>
        <h1 class="mui-title">我的钱包</h1>
    </header>
    <div class="mui-content" style="background-color: #FFFFFF;">
    		<div class="balance">
    			<span style="font-size: 40px; margin-right: 5px;">0</span>.00
    		</div>
    		<dl class="balance-info">
    			<dt>什么是余额?</dt>
    			<dd>1. 按实际好歹给呼叫中心办厂家哈嘎手机号给大家哈告诉大家哈告诉大家哈告诉大家噶施工队</dd>
    			<dd>2. 按实际好歹给呼叫中心办厂家哈嘎手机号给大家哈告诉大家哈告诉大家哈告诉大家噶施工队</dd>
    		</dl>
    </div>
</body>

</html>
