<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>物流详情</title>
    <link href="../../css/mui3.5.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
    <style>
        .logistics-details .content .m-mod2 ul li .i-circle{
            top:6px;
        }
    </style>
</head>

<body>
	<div class="wrap logistics-details">
		<div class="header">
			<div class="ps-f">
				<h1 class="ui-border-b">
					<a class="mui-action-back iconfont icon-jiantou1 mui-pull-left header-back"></a>
					物流详情        
				</h1>
			</div>
		</div>
		<div class="content" class="wuliu-main">
			<div class="m-mod m-mod1">
				<div class="m-details">
					<div class="m-status">
						物流状态：<i class="c-purple">已收件</i>
					</div>
					<div>订单编号：1234567890123456</div>
					<div>快递公司：顺丰速运</div>
					<div>运单编号：1234567890</div>
				</div>
			</div>
			<div class="m-mod m-mod2">
				<div class="data">
					<ul class="ui-border-bottom">
						<!-- START循环物流信息 -->
						<li class="ui-border-bottom">
							<div>快递员XXX已收件</div>
							<span class="m-time">2017-01-01</span>
							<span class="mui-icon i-circle back-c-purple"></span>
						</li>
						<li class="ui-border-bottom">
							<div>快递员XXX已收件</div>
							<span class="m-time">2017-01-01</span>
							<span class="mui-icon i-circle back-c-purple"></span>
						</li>
						<!-- END循环物流信息 -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
