

html,body{
	height: 100%;
}

.search-header {
  width: 100%;
  height: 44px;
}
.search-header .search-box {
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
  position: relative;
}
.search-header .search-btn {
  position: absolute;
  left: 5px;
}
.search-header .search-input {
  width: 100%;
  height: 31px;
  margin-bottom: 0;
  padding: 5px 0 5px 30px;
  background-color: #eaeaea;
  border: 0;
}
.goodslist-search {
    display: block;
    width: auto;
    height: 44px;
    margin-right: 33px;
    line-height: 44px;
    overflow: hidden;
    position: relative;
    }
.goodslist-search .search-input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    background-color: #e9e9e9;
    border: 0;
    margin: 0;
    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 44px;
    border-radius: 5px !important;}
    .goodslist-search .mui-input-row {
    overflow: hidden;
}
.goodslist-search .search-btn {
    z-index: 10px;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    left: 15px;
    top: 13px;
    color: #999;
    }
    .iconfont.icon-sousuo {
    font-size: 20px;
    color: #666;
}
.t-sosuo {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -10px;
    color: #666;
    font-size: 16px;
}
.classify-main {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  background: #f5f5f5;
}
.classify-right-con {
	height: 100%;
}
.classify-search  .mui-input-group {
	background-color: #f7f7f7;
}
.classify-search .mui-input-group:after,.classify-search .mui-input-group .mui-input-row:after,.classify-search .mui-input-row:before{
	height: 0;
}
.go
.classify-main .mui-scroll-wrapper {
  padding-bottom: 50px;
}
.classify-main .mui-scroll-wrapper .mui-scroll .mui-control-item {
  font-size: 15px;
  padding: 0;
}
.classify-left {
  float: left;
  width: 24%;
  height: 100%;
  position: relative;
}
.classify-left .active {
  color: #a269c7;
  border-left: 3px solid #a269c7;
  background: #F7F7F7;
}
.classify-left-item {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333333;
  border-left: 3px solid transparent;
  margin-bottom: 1px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.classify-right {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  /*padding-bottom: 50px;*/
}
.classify-right .classify-details-goods .mui-col-xs-4 {
  width: 31.6%;
}
.classify-right .classify-details-goods li {
  margin-right: 2.3% !important;
  margin-bottom: 1.8% !important;
}
.classify-right .classify-details-goods li:nth-child(3n) {
  margin-right: 0 !important;
}
.classify-right .classify-details-goods.mui-grid-view.mui-grid-9 .mui-table-view-cell,
.classify-right .classify-details-goods.mui-grid-view.mui-grid-9 .mui-table-view-cell,
.classify-right .classify-brand-container.mui-grid-view.mui-grid-9,
.classify-right .classify-details-goods.mui-grid-view.mui-grid-9 {
  border: 0 !important;
}
.classify-title {
  width: 100%;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  font-weight: normal;
  color: #999999;
  letter-spacing: 0;
}
.scroll-cont {
  width: 95.5%;
  left: 2.4%;
  right: 2.4%;
}
.classify-brand-container {
  height: 158px;
}
.classify-brand-container .mui-grid-view.mui-grid-9 .mui-table-view-cell {
  border: 0;
}
.classify-brand-container .classify-brand {
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0 !important;
}
.classify-brand-container .classify-brand-wrapper {
  display: inline-block;
  width: 72px;
  height: 44px;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}
.classify-brand-container img {
  width: 100%;
  height: 100%;
}
.classify-link-box {
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding: 0 !important;
  background-color: #fff!important;
}
.classify-right-area {
  width: 100%;
  height: 100%;
}
.classify-right-area .classify-goods-box {
  background-color: #fff;
  padding: 0 !important;
}
.classify-right-area .classify-img-wrapper {
  display: inline-block;
  width: 72px;
  padding: 5px 0;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}
.classify-right-area .classify-img-wrapper img {
  width: 72px;
  height: 72px;
  background-size: 100% 100%;
}
.classify-right-area .classify-disc {
  padding: 6px 0 8px 0;
  font-size: 14px;
  color: #999999;
  letter-spacing: 0;
  text-align: center;
}
.loading {
  text-align: center;
}
